.topcontent {
    display: flex;
    padding-bottom: 11px;
}

.botcontent {
    display: flex;
    padding-top: 25px;
}

.topborder {
    border-style: solid;
    border-color: #8080804d;
    max-width: 100%;
    border-width: 0.8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.midborder {
    border-style: solid;
    border-color: #8080804d;
    max-width: 100%;
    border-width: 0.8px;
    margin-bottom: 20px;
    height: 200px;
}

.botcontent-right {
    float: right;
    padding-left: 42px;
}

.botcontent-left {
    min-width: 450px;
    max-width: 450px;
    display: flex;
    padding-right: 20px;
    margin-top: -10px;
}

div#film-title {
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 7px;
    padding-top: 5px;
}

div#film-schedule {
    font-weight: bold;
}

.booking-seatprice {
    display: flex;
}

div#bookingsummary {
    padding-bottom: 20px;
    font-size: 20px;
    color: #525151cf;
    font-weight: bolder;
}

div#beforebooking {
    font-size: 12px;
    color: #bac2bc;
    font-weight: bold;
}

div#bookingfilmschedule {
    padding-bottom: 20px;
}

div#seat-booking {
    font-weight: bold;
}

div#booking-price {
    font-weight: bold;
    margin-left: 295px;
}

div#bookingfilmtitle {
    font-weight: bold;
}

button#bookbutton {
    margin-top: 50px;
    width: 115px;
    height: 37px;
    margin-left: 335px;
    border-radius: 5%;
    background-color: #00bcd4f5;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

label.disable{
    background: #e3e1da;
}

label.disable:hover{
    cursor: default;
}

.selectseats {
    margin-top: -13px;
}

.seatsrow {
    display: flex;
}

.screen{
    display: flex;
    font-weight: bold;
    color: white;
    background: gray;
    margin-top: 25px;
    padding-left: 187px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.seatsselect input{
    display: none;
}

.seatsselect label {
    font-weight: bolder;
    color: #00bcd4f5;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 23px;
    cursor: pointer;
    padding: 2px;
    margin: 15px 10px 3px 3px;
    font-size: 15px;
    border-radius: 10%;
    border-color: #00bcd4f5;
}

#seats-1:checked ~ label[for="seats-1"],
#seats-2:checked ~ label[for="seats-2"],
#seats-3:checked ~ label[for="seats-3"],
#seats-4:checked ~ label[for="seats-4"],
#seats-5:checked ~ label[for="seats-5"],
#seats-6:checked ~ label[for="seats-6"],
#seats-7:checked ~ label[for="seats-7"],
#seats-8:checked ~ label[for="seats-8"],
#seats-9:checked ~ label[for="seats-9"],
#seats-10:checked ~ label[for="seats-10"],
#seats-11:checked ~ label[for="seats-11"],
#seats-12:checked ~ label[for="seats-12"],
#seats-13:checked ~ label[for="seats-13"],
#seats-14:checked ~ label[for="seats-14"],
#seats-15:checked ~ label[for="seats-15"],
#seats-16:checked ~ label[for="seats-16"],
#seats-17:checked ~ label[for="seats-17"],
#seats-18:checked ~ label[for="seats-18"],
#seats-19:checked ~ label[for="seats-19"],
#seats-20:checked ~ label[for="seats-20"],
#seats-21:checked ~ label[for="seats-21"],
#seats-22:checked ~ label[for="seats-22"],
#seats-23:checked ~ label[for="seats-23"],
#seats-24:checked ~ label[for="seats-24"],
#seats-25:checked ~ label[for="seats-25"],
#seats-26:checked ~ label[for="seats-26"],
#seats-27:checked ~ label[for="seats-27"],
#seats-28:checked ~ label[for="seats-28"],
#seats-29:checked ~ label[for="seats-29"],
#seats-30:checked ~ label[for="seats-30"] {
  background: #00bcd4f5;
  color: #fff;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    height: 250px;
}

div.modal-content h1 {
    text-align: center;
    color: #00bcd4f5;
    margin-top: 40px;
}

div.modal-content div {
    width: 274px;
    text-align: center;
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 13px;
}

.close-button a {
    color: white;
}

.close-button {
    float: right;
    line-height: 1.75;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #00bcd4f5;
    margin-right: 70px;
    width: 250px;
    height: 30px;
    color: white;
    border: none;
    font-weight: bold;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}